common/client.go linguist-generated=true
common/commands.go linguist-generated=true
common/constants.go linguist-generated=true
common/customizable_schema.go linguist-generated=true
common/pair.go linguist-generated=true
common/reflect_resource.go linguist-generated=true
common/resource.go linguist-generated=true
common/tracking_context.go linguist-generated=true
common/util.go linguist-generated=true
docs/data-sources/account_network_policies.md linguist-generated=true
docs/data-sources/account_network_policy.md linguist-generated=true
docs/data-sources/account_setting.md linguist-generated=true
docs/data-sources/alert_v2.md linguist-generated=true
docs/data-sources/alerts_v2.md linguist-generated=true
docs/data-sources/budget_policies.md linguist-generated=true
docs/data-sources/budget_policy.md linguist-generated=true
docs/data-sources/clean_rooms_clean_room.md linguist-generated=true
docs/data-sources/clean_rooms_clean_rooms.md linguist-generated=true
docs/data-sources/database_database_catalog.md linguist-generated=true
docs/data-sources/database_database_catalogs.md linguist-generated=true
docs/data-sources/database_instance.md linguist-generated=true
docs/data-sources/database_instances.md linguist-generated=true
docs/data-sources/external_metadata.md linguist-generated=true
docs/data-sources/external_metadatas.md linguist-generated=true
docs/data-sources/materialized_features_feature_tag.md linguist-generated=true
docs/data-sources/materialized_features_feature_tags.md linguist-generated=true
docs/data-sources/online_store.md linguist-generated=true
docs/data-sources/online_stores.md linguist-generated=true
docs/data-sources/quality_monitor_v2.md linguist-generated=true
docs/data-sources/quality_monitors_v2.md linguist-generated=true
docs/data-sources/recipient_federation_policies.md linguist-generated=true
docs/data-sources/recipient_federation_policy.md linguist-generated=true
docs/data-sources/request_for_access.md linguist-generated=true
docs/data-sources/workspace_network_option.md linguist-generated=true
docs/data-sources/workspace_setting.md linguist-generated=true
docs/resources/account_network_policy.md linguist-generated=true
docs/resources/account_setting.md linguist-generated=true
docs/resources/alert_v2.md linguist-generated=true
docs/resources/budget_policy.md linguist-generated=true
docs/resources/clean_rooms_clean_room.md linguist-generated=true
docs/resources/database_database_catalog.md linguist-generated=true
docs/resources/database_instance.md linguist-generated=true
docs/resources/external_metadata.md linguist-generated=true
docs/resources/materialized_features_feature_tag.md linguist-generated=true
docs/resources/online_store.md linguist-generated=true
docs/resources/quality_monitor_v2.md linguist-generated=true
docs/resources/recipient_federation_policy.md linguist-generated=true
docs/resources/request_for_access.md linguist-generated=true
docs/resources/workspace_network_option.md linguist-generated=true
docs/resources/workspace_setting.md linguist-generated=true
internal/providers/common/common.go linguist-generated=true
internal/providers/pluginfw/auto_generation.go linguist-generated=true
internal/providers/pluginfw/autogen/helpers.go linguist-generated=true
internal/providers/pluginfw/common/common.go linguist-generated=true
internal/providers/pluginfw/common/complex_field_type_provider.go linguist-generated=true
internal/providers/pluginfw/common/diag_to_string.go linguist-generated=true
internal/providers/pluginfw/common/object_typable.go linguist-generated=true
internal/providers/pluginfw/context/context.go linguist-generated=true
internal/providers/pluginfw/converters/go_to_tf.go linguist-generated=true
internal/providers/pluginfw/converters/names.go linguist-generated=true
internal/providers/pluginfw/converters/tf_to_go.go linguist-generated=true
internal/providers/pluginfw/products/account_network_policy/data_account_network_policies.go linguist-generated=true
internal/providers/pluginfw/products/account_network_policy/data_account_network_policy.go linguist-generated=true
internal/providers/pluginfw/products/account_network_policy/resource_account_network_policy.go linguist-generated=true
internal/providers/pluginfw/products/account_setting/data_account_setting.go linguist-generated=true
internal/providers/pluginfw/products/account_setting/resource_account_setting.go linguist-generated=true
internal/providers/pluginfw/products/alert_v2/data_alert_v2.go linguist-generated=true
internal/providers/pluginfw/products/alert_v2/data_alerts_v2.go linguist-generated=true
internal/providers/pluginfw/products/alert_v2/resource_alert_v2.go linguist-generated=true
internal/providers/pluginfw/products/budget_policy/data_budget_policies.go linguist-generated=true
internal/providers/pluginfw/products/budget_policy/data_budget_policy.go linguist-generated=true
internal/providers/pluginfw/products/budget_policy/resource_budget_policy.go linguist-generated=true
internal/providers/pluginfw/products/clean_rooms_clean_room/data_clean_rooms_clean_room.go linguist-generated=true
internal/providers/pluginfw/products/clean_rooms_clean_room/data_clean_rooms_clean_rooms.go linguist-generated=true
internal/providers/pluginfw/products/clean_rooms_clean_room/resource_clean_rooms_clean_room.go linguist-generated=true
internal/providers/pluginfw/products/database_database_catalog/data_database_database_catalog.go linguist-generated=true
internal/providers/pluginfw/products/database_database_catalog/data_database_database_catalogs.go linguist-generated=true
internal/providers/pluginfw/products/database_database_catalog/resource_database_database_catalog.go linguist-generated=true
internal/providers/pluginfw/products/database_instance/data_database_instance.go linguist-generated=true
internal/providers/pluginfw/products/database_instance/data_database_instances.go linguist-generated=true
internal/providers/pluginfw/products/database_instance/resource_database_instance.go linguist-generated=true
internal/providers/pluginfw/products/external_metadata/data_external_metadata.go linguist-generated=true
internal/providers/pluginfw/products/external_metadata/data_external_metadatas.go linguist-generated=true
internal/providers/pluginfw/products/external_metadata/resource_external_metadata.go linguist-generated=true
internal/providers/pluginfw/products/materialized_features_feature_tag/data_materialized_features_feature_tag.go linguist-generated=true
internal/providers/pluginfw/products/materialized_features_feature_tag/data_materialized_features_feature_tags.go linguist-generated=true
internal/providers/pluginfw/products/materialized_features_feature_tag/resource_materialized_features_feature_tag.go linguist-generated=true
internal/providers/pluginfw/products/online_store/data_online_store.go linguist-generated=true
internal/providers/pluginfw/products/online_store/data_online_stores.go linguist-generated=true
internal/providers/pluginfw/products/online_store/resource_online_store.go linguist-generated=true
internal/providers/pluginfw/products/quality_monitor_v2/data_quality_monitor_v2.go linguist-generated=true
internal/providers/pluginfw/products/quality_monitor_v2/data_quality_monitors_v2.go linguist-generated=true
internal/providers/pluginfw/products/quality_monitor_v2/resource_quality_monitor_v2.go linguist-generated=true
internal/providers/pluginfw/products/recipient_federation_policy/data_recipient_federation_policies.go linguist-generated=true
internal/providers/pluginfw/products/recipient_federation_policy/data_recipient_federation_policy.go linguist-generated=true
internal/providers/pluginfw/products/recipient_federation_policy/resource_recipient_federation_policy.go linguist-generated=true
internal/providers/pluginfw/products/request_for_access/data_request_for_access.go linguist-generated=true
internal/providers/pluginfw/products/request_for_access/resource_request_for_access.go linguist-generated=true
internal/providers/pluginfw/products/workspace_network_option/data_workspace_network_option.go linguist-generated=true
internal/providers/pluginfw/products/workspace_network_option/resource_workspace_network_option.go linguist-generated=true
internal/providers/pluginfw/products/workspace_setting/data_workspace_setting.go linguist-generated=true
internal/providers/pluginfw/products/workspace_setting/resource_workspace_setting.go linguist-generated=true
internal/providers/pluginfw/tfschema/attribute_builder.go linguist-generated=true
internal/providers/pluginfw/tfschema/attribute_converter.go linguist-generated=true
internal/providers/pluginfw/tfschema/base_schema_builder.go linguist-generated=true
internal/providers/pluginfw/tfschema/block_builder.go linguist-generated=true
internal/providers/pluginfw/tfschema/bool_attribute.go linguist-generated=true
internal/providers/pluginfw/tfschema/customizable_schema.go linguist-generated=true
internal/providers/pluginfw/tfschema/float64_attribute.go linguist-generated=true
internal/providers/pluginfw/tfschema/int64_attribute.go linguist-generated=true
internal/providers/pluginfw/tfschema/list_attribute.go linguist-generated=true
internal/providers/pluginfw/tfschema/list_nested_attribute.go linguist-generated=true
internal/providers/pluginfw/tfschema/list_nested_block.go linguist-generated=true
internal/providers/pluginfw/tfschema/map_attribute.go linguist-generated=true
internal/providers/pluginfw/tfschema/map_nested_attribute.go linguist-generated=true
internal/providers/pluginfw/tfschema/nested_attribute_object.go linguist-generated=true
internal/providers/pluginfw/tfschema/nested_block_object.go linguist-generated=true
internal/providers/pluginfw/tfschema/single_nested_attribute.go linguist-generated=true
internal/providers/pluginfw/tfschema/single_nested_block.go linguist-generated=true
internal/providers/pluginfw/tfschema/string_attribute.go linguist-generated=true
internal/providers/pluginfw/tfschema/struct_to_schema.go linguist-generated=true
internal/service/aibuilder_tf/legacy_model.go linguist-generated=true
internal/service/aibuilder_tf/model.go linguist-generated=true
internal/service/apps_tf/legacy_model.go linguist-generated=true
internal/service/apps_tf/model.go linguist-generated=true
internal/service/billing_tf/legacy_model.go linguist-generated=true
internal/service/billing_tf/model.go linguist-generated=true
internal/service/catalog_tf/legacy_model.go linguist-generated=true
internal/service/catalog_tf/model.go linguist-generated=true
internal/service/cleanrooms_tf/legacy_model.go linguist-generated=true
internal/service/cleanrooms_tf/model.go linguist-generated=true
internal/service/compute_tf/legacy_model.go linguist-generated=true
internal/service/compute_tf/model.go linguist-generated=true
internal/service/dashboards_tf/legacy_model.go linguist-generated=true
internal/service/dashboards_tf/model.go linguist-generated=true
internal/service/database_tf/legacy_model.go linguist-generated=true
internal/service/database_tf/model.go linguist-generated=true
internal/service/files_tf/legacy_model.go linguist-generated=true
internal/service/files_tf/model.go linguist-generated=true
internal/service/iam_tf/legacy_model.go linguist-generated=true
internal/service/iam_tf/model.go linguist-generated=true
internal/service/jobs_tf/legacy_model.go linguist-generated=true
internal/service/jobs_tf/model.go linguist-generated=true
internal/service/marketplace_tf/legacy_model.go linguist-generated=true
internal/service/marketplace_tf/model.go linguist-generated=true
internal/service/ml_tf/legacy_model.go linguist-generated=true
internal/service/ml_tf/model.go linguist-generated=true
internal/service/oauth2_tf/legacy_model.go linguist-generated=true
internal/service/oauth2_tf/model.go linguist-generated=true
internal/service/pipelines_tf/legacy_model.go linguist-generated=true
internal/service/pipelines_tf/model.go linguist-generated=true
internal/service/provisioning_tf/legacy_model.go linguist-generated=true
internal/service/provisioning_tf/model.go linguist-generated=true
internal/service/qualitymonitorv2_tf/legacy_model.go linguist-generated=true
internal/service/qualitymonitorv2_tf/model.go linguist-generated=true
internal/service/serving_tf/legacy_model.go linguist-generated=true
internal/service/serving_tf/model.go linguist-generated=true
internal/service/settings_tf/legacy_model.go linguist-generated=true
internal/service/settings_tf/model.go linguist-generated=true
internal/service/settingsv2_tf/legacy_model.go linguist-generated=true
internal/service/settingsv2_tf/model.go linguist-generated=true
internal/service/sharing_tf/legacy_model.go linguist-generated=true
internal/service/sharing_tf/model.go linguist-generated=true
internal/service/sql_tf/legacy_model.go linguist-generated=true
internal/service/sql_tf/model.go linguist-generated=true
internal/service/vectorsearch_tf/legacy_model.go linguist-generated=true
internal/service/vectorsearch_tf/model.go linguist-generated=true
internal/service/workspace_tf/legacy_model.go linguist-generated=true
internal/service/workspace_tf/model.go linguist-generated=true
internal/tfreflect/reflect_utils.go linguist-generated=true
