service/billing_tf/model.go linguist-generated=true
service/catalog_tf/model.go linguist-generated=true
service/compute_tf/model.go linguist-generated=true
service/dashboards_tf/model.go linguist-generated=true
service/files_tf/model.go linguist-generated=true
service/iam_tf/model.go linguist-generated=true
service/jobs_tf/model.go linguist-generated=true
service/marketplace_tf/model.go linguist-generated=true
service/ml_tf/model.go linguist-generated=true
service/oauth2_tf/model.go linguist-generated=true
service/pipelines_tf/model.go linguist-generated=true
service/provisioning_tf/model.go linguist-generated=true
service/serving_tf/model.go linguist-generated=true
service/settings_tf/model.go linguist-generated=true
service/sharing_tf/model.go linguist-generated=true
service/sql_tf/model.go linguist-generated=true
service/vectorsearch_tf/model.go linguist-generated=true
service/workspace_tf/model.go linguist-generated=true
